@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.OsnovnoSredstvo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Osnovna_Sredstva_Glavna.Default.OsnovnoSredstvoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>