{
    "RootNamespace": "Osnovna_Sredstva_Glavna",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=DESKTOP-JBAAB7C; Initial Catalog=Osnovna_Sredstva_Glavna; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Osnovno_Sredstvo",
                    "Identifier": "OsnovnoSredstvo",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=DESKTOP-JBAAB7C; Initial Catalog=Osnovna_Sredstva_Glavna_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Osnovna_Sredstva",
            "ConnectionString": "data source=DESKTOP-JBAAB7C;initial catalog=Osnovna_Sredstva_Glavna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Amortizacijske_grupe",
                    "Identifier": "AmortizacijskeGrupe",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Dokumentacija",
                    "Identifier": "Dokumentacija",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.KontaUra",
                    "Identifier": "KontaUra",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Konta",
                    "Identifier": "Konta",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Mjesto_Troska",
                    "Identifier": "MjestoTroska",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Partneri",
                    "Identifier": "Partneri",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Sektori",
                    "Identifier": "Sektori",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Ulazni_racun",
                    "Identifier": "UlazniRacun",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Osnovno_Sredstvo",
                    "Identifier": "OsnovnoSredstvo",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AktivacijaSredstva",
                    "Identifier": "AktivacijaSredstva",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Obracun",
                    "Identifier": "Obracun",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Obracun_stavke",
                    "Identifier": "ObracunStavke",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TemeljnicaStavke",
                    "Identifier": "TemeljnicaStavke",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Servis",
                    "Identifier": "Servis",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Vrsta_troska",
                    "Identifier": "VrstaTroska",
                    "Module": "OsnovnaSredstva",
                    "ConnectionKey": "Osnovna_Sredstva",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Osnovna_Sredstva_GlavnaEntities",
            "ConnectionString": "metadata=res://*/Modules.OsnovnaSredstva.Izvjesca.Kartica.csdl|res://*/Modules.OsnovnaSredstva.Izvjesca.Kartica.ssdl|res://*/Modules.OsnovnaSredstva.Izvjesca.Kartica.msl;provider=System.Data.SqlClient;provider connection string=\"data source=DESKTOP-JBAAB7C;initial catalog=Osnovna_Sredstva_Glavna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework\"",
            "ProviderName": "System.Data.EntityClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Osnovna_Sredstva_Glavna\\Osnovna_Sredstva_Glavna.Web\\Osnovna_Sredstva_Glavna.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}