@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OsnovnaSredstva.Konta.EntityPlural");
}

<div id="GridDiv"></div>


<script type="text/javascript">
    jQuery(function () {
        new Osnovna_Sredstva_Glavna.OsnovnaSredstva.KontaGrid($('#GridDiv'), {}).init();


        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

 