@model Osnovna_Sredstva_Glavna.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your Osnovna_Sredstva_Glavna password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on Osnovna_Sredstva_Glavna.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "Osnovna_Sredstva_Glavna" Team
</body>
</html>