@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.OsnovnaSredstva.TemeljnicaStavke.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Osnovna_Sredstva_Glavna.OsnovnaSredstva.TemeljnicaStavkeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>